<div class="nav-bar">
  <div><a routerLink="home" routerLinkActive="active-link">Home</a></div>
  <div><a routerLink="active" routerLinkActive="active-link">Active</a></div>
  <div><a routerLink="deleted" routerLinkActive="active-link">Deleted</a></div>
  <div><a routerLink="user" routerLinkActive="active-link">Manage</a></div>
</div>
<hr
  style="
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-top: 1px solid gainsboro;
  "
/>
<div class="container">
  <router-outlet></router-outlet>
</div>
